.box_images
    display: flex
    justify-content: center
    width: 100%
    @media screen and ( max-width: 767px )
       width: 100%

.item
    display: flex !important
    justify-content: space-evenly
    align-items: center
    @media screen and ( max-width: 991px )
       display: flex !important
       align-items: flex-end
    @media screen and ( max-width: 767px )
       display: block !important

.img 
    display: flex 
    margin: 0 auto 
    height: 482px 
    width: 420px
    object-fit: cover
    border-radius: 40px
    @media screen and (max-device-width: 1600px) 
    @media screen and (max-device-width: 1200px) 
       height: 493px 
       width: 360px
    @media screen and ( max-width: 991px )
       height: 341px 
       width: 100%
    @media screen and ( max-width: 767px )
       height: 289px 
       width: 60%
       border-radius: 20px

.box_img
    display: flex
    justify-content: center
    width: 40%
    @media screen and (max-device-width: 1200px) 
       width: 40%
    @media screen and (max-device-width: 1600px) 
       width: 40%
    @media screen and ( max-width: 991px )
       width: 30%
    @media screen and ( max-width: 767px )
       width: 100%

.subtitle  
    text-align: left
    color: black
    font-size: 20px
    margin-bottom: 20px
    margin-left: 10px
    @media screen and ( max-width: 991px )
       width: 100%
       text-align: left
       font-size: 16px
    @media screen and ( max-width: 767px )
       text-align: center
       width: 100%
       margin-top: 24px
       font-size: 16px

.img_small
    display: flex 
    margin: 0 auto 
    height: 130px
    width: 130px
    object-fit: cover
    border-radius: 30px
    margin: 5px
    @media screen and ( max-width: 991px )
      height: 97px
      width: 97px
    @media screen and ( max-width: 767px )
      height: 78px
      width: 78px
      border-radius: 10px

.box
    justify-content: center
    margin-top: 95px
    @media screen and ( max-width: 991px )
       margin: 0
       padding-left: 10px

.images_block
    display: flex
    @media screen and ( max-width: 991px )
       display: flex
    @media screen and ( max-width: 767px )
       display: flex

.title_section
    @media screen and ( max-width: 991px )
       text-align: center

.contact_btn
    display: flex
    align-items: center
    justify-content: center
    width: 40%
    height: 45px
    color: black
    font-weight: 500
    text-align: center
    border-radius: 50px
    padding: 12px 30px
    background-color: #C62020
    font-size: 17px
    margin-bottom: 20px
    color: white
    &:hover
     transition: 0.5s
     background-color: #E3E1E1
     border: 1px solid #C62020
     color: #C62020
    @media screen and ( max-width: 991px )
        font-size: 14px
        margin: 5px
        &:hover
         background-color: #C62020
         border: none
    @media screen and ( max-width: 767px )
        font-size: 16px
        padding: 8px 20px
        width: 64%
        height: 43px
        margin: 20px auto

.slider
    @media screen and ( max-width: 991px )
       margin-top: 126px
    @media screen and ( max-width: 767px )
       margin-top: 124px

.button 
   width: 2rem 
   height: 2rem 
   background-color: rgba(255, 255, 255, 0.100) 
   cursor: pointer 
   color: #01be96 
   border: none 
   position: absolute 
   top: 45% 
   right: -1rem 

.point
   width: 14px
   height: 14px
   background-color: #C62020
   border-radius: 50px

.header
   display: flex
   justify-content: flex-start
   align-items: baseline
   @media screen and ( max-width: 767px )
      width: 57%
      margin: 0 auto
