.box
	display: flex
	align-items: center
	justify-content: space-between
	width: 350px
	height: 100vh
	position: fixed
	top: 0
	right: 0
	transform: translateX(100%)
	z-index: 5
	background: var(--color-black)

.btn_home
	display: flex
	align-items: center
	justify-content: center
	width: 47px
	height: 47px
	border-radius: 20px 0px 0px 20px
	background: #C62020
	box-shadow: 0 2px 20px rgba(#111, .2)
	position: absolute
	top: 300px
	right: 100%
	transform: translateY(-50%)
	z-index: 0
	@media screen and ( max-width: 1200px )
		top: 260px
	@media screen and ( max-width: 767px )
		width: 47px
		height: 47px
		border-radius: 5px
		top: 57vh
		transform: translate(-331px, 337px)
		bottom: 0

.btn_courses
	display: flex
	align-items: center
	justify-content: center
	width: 47px
	height: 47px
	border-radius: 20px 0px 0px 20px
	background: #C62020
	box-shadow: 0 2px 20px rgba(#111, .2)
	position: absolute
	top: 355px
	right: 100%
	transform: translateY(-50%)
	z-index: 0
	@media screen and ( max-width: 1200px )
		top: 315px
	@media screen and ( max-width: 767px )
		width: 47px
		height: 47px
		border-radius: 5px
		top: 63vh
		transform: translate(-264px, 282px)
		bottom: 0

.btn_price_list
	display: flex
	align-items: center
	justify-content: center
	width: 47px
	height: 47px
	border-radius: 20px 0px 0px 20px
	background: #C62020
	box-shadow: 0 2px 20px rgba(#111, .2)
	position: absolute
	top: 410px
	right: 100%
	transform: translateY(-50%)
	z-index: 0
	@media screen and ( max-width: 1200px )
		top: 370px
	@media screen and ( max-width: 767px )
		width: 47px
		height: 47px
		border-radius: 5px
		top: 69vh
		transform: translate(-192px, 227px)
		bottom: 0

.btn_co_worker
	display: flex
	align-items: center
	justify-content: center
	width: 47px
	height: 47px
	border-radius: 20px 0px 0px 20px
	background: #C62020
	box-shadow: 0 2px 20px rgba(#111, .2)
	position: absolute
	top: 465px
	right: 100%
	transform: translateY(-50%)
	z-index: 0
	@media screen and ( max-width: 1200px )
		top: 425px
	@media screen and ( max-width: 767px )
		width: 47px
		height: 47px
		border-radius: 5px
		top: 75vh
		transform: translate(-125px, 172px)
		bottom: 0

.btn_contact_us
	display: flex
	align-items: center
	justify-content: center
	width: 47px
	height: 47px
	border-radius: 20px 0px 0px 20px
	background: #C62020
	box-shadow: 0 2px 20px rgba(#111, .2)
	position: absolute
	top: 520px
	right: 100%
	transform: translateY(-50%)
	z-index: 0
	@media screen and ( max-width: 1200px )
		top: 480px
	@media screen and ( max-width: 767px )
		width: 47px
		height: 47px
		border-radius: 5px
		top: 81vh
		transform:  translate(-54px, 119px)
		bottom: 0
