.code
    background: #F2F2F2
    color: black
    padding: 10px 30px
    margin-top: 25px
    font-family: sans-serif

.em
    color: #fff
    font-weight: semibold
    font-family: sans-serif

.link
    color: blue
    text-decoration: underline
    font-family: sans-serif

.blockquote
    margin-left: 10px
    margin-top: 20px
    margin-bottom: 20px
    border-left: 5px solid #7337BD
    padding-left: 20px
    font-family: sans-serif

.bullet
    list-style-type: disc
    margin-left: 50px
    font-family: sans-serif

.number
    list-style-type: decimal
    font-family: sans-serif

.image
    margin-top: 25px
    margin-bottom: 25px
    width: 100%
    object-fit: scale-down