.box
	width: 100%
	padding: 74px 0
	transition: var(--tr-time)
	position: sticky
	top: 0
	left: 0
	z-index: 9
	@media screen and ( max-width: 1280px )
		padding: 40px 0
	&:after
		content: ""
		width: 100%
		height: 100%
		background-color: var(--color-white)
		position: absolute
		top: 0
		left: 0
		transition: var(--tr-time)
		z-index: 0
		opacity: 0

.boxDark
	&:after
		background: var(--color-black)

.boxLight
	&:after
		background: var(--color-white)

.boxScrolled
	padding: 25px 0
	@media screen and ( max-width: 1280px )
		padding: 20px 0
	&:after
		opacity: .99

.boxOpenMenu
	&:after
		opacity: .99

.boxFixed
	position: fixed

.wrap
	display: flex
	align-items: center
	justify-content: space-between
	& > *
		position: relative
		z-index: 1

.logo
	display: flex
	align-items: center
	justify-content: center
	transition: var(--tr-time)
	& > *
		transition: var(--tr-time)
		@media screen and ( max-width: 1280px )
			width: 144px
			height: 56px

.logoSticky
	& > *
		width: 120px
		height: 46px

.content
	display: flex
	align-items: center
	justify-content: flex-start
	@media screen and ( max-width: 991px )
		flex-direction: column
		justify-content: space-between
		width: 100%
		height: 0
		padding: 0
		position: absolute
		top: 100%
		left: 0
		transition: var(--tr-time)
		overflow: hidden
	& > *
		margin-right: 110px
		@media screen and ( max-width: 1280px )
			margin-right: 40px
		@media screen and ( max-width: 991px )
			margin-right: 0
			margin-bottom: 40px
			position: relative
			z-index: 1
		&:last-child
			margin-right: 0
			@media screen and ( max-width: 991px )
				margin-bottom: 0
	&:after
		@media screen and ( max-width: 991px )
			content: ""
			width: 100%
			height: 100%
			background-color: var(--color-white)
			position: absolute
			top: 0
			left: 0
			transition: var(--tr-time)
			z-index: 0
			opacity: .99

.contentDark
	&:after
		@media screen and ( max-width: 991px )
			background: var(--color-black)

.contentLight
	&:after
		@media screen and ( max-width: 991px )
			background: var(--color-white)

.contentShow
	@media screen and ( max-width: 991px )
		height: calc(100vh - 136px)
		padding: 30px

.contentSticky
	@media screen and ( max-width: 991px )
		height: calc(100vh - 86px)

.nav
	display: flex
	align-items: center
	justify-content: flex-start
	@media screen and ( max-width: 991px )
		flex-direction: column
	& > *
		margin-right: 20px
		@media screen and ( max-width: 991px )
			margin-right: 0
			margin-bottom: 20px
		&:last-child
			margin-right: 0
			@media screen and ( max-width: 991px )
				margin-bottom: 0

.link
	display: flex
	align-items: center
	justify-content: center
	position: relative
	color: var(--color-black)
	@media screen and ( max-width: 1280px )
		font-size: 18px
	@media screen and ( max-width: 991px )
		font-size: 20px
	&:after
		content: ""
		width: 100%
		height: 1px
		background: #9C4CFF
		position: absolute
		top: 100%
		left: 0
		transition: var(--tr-time)
		opacity: 0

.linkActive
	color: #9C4CFF
	&:after
		opacity: 1

.linkActiveSub
	color: #9C4CFF

.btn
	font-size: 20px
	@media screen and ( max-width: 1280px )
		font-size: 18px

.btnSticky
	font-size: 18px

.menuBtn
	display: none
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	position: relative
	@media screen and ( max-width: 991px )
		display: flex
	&:before, &:after
		content: ''
		width: 23px
		height: 2px
		border-radius: 2px
		background: var(--color-black)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(calc(-50% + 5px), -50%)
		transition: var(--tr-time)
	&:before
		transform: translate(calc(-50% + 5px), calc(-50% + 10px))
	&:after
		transform: translate(calc(-50% + 5px), calc(-50% - 10px))
	span
		background: var(--color-black)
		width: 33px
		height: 2px
		border-radius: 2px
		transition: var(--tr-time)

.menuBtnDark
	&:before, &:after
		background: var(--color-white)
	span
		background: var(--color-white)

.menuBtnLight
	&:before, &:after
		background: var(--color-black)
	span
		background: var(--color-black)

.menuBtnActive
	&:before, &:after
		width: 33px
		transform: translate(-50%, -50%)
	&:before
		transform: translate(-50%, -50%) rotate(45deg)
	&:after
		transform: translate(-50%, -50%) rotate(-45deg)
	span
		opacity: 0
		transform: scale(0)

.input
		width: 244px
		max-width: 100%
		height: 35px
		font-weight: 300
		font-size: 22px
		border: 2px solid #fff
		border-radius: 20px
		padding: 6px
		transition: .3s
		@media screen and ( max-width: 991px )
		font-size: 18px
		@media screen and ( max-width: 767px )
		font-size: 16px
		&::placeholder
		color: var(--color-white)
		&:focus
		border-color: var(--color-black)