.courses
   bottom: 100px
   position: relative 
   background: black

.skew 
    display: block
    height: 51px
    width: 99%
    position: relative
    transform: skew(57deg)
    &:after 
      height: 115px
      width: 75%
      background: black
      margin: 0 auto
      position: absolute
      content: ''
      right: 0

.cooking_courses
    background: #E3E1E1
    display: grid

.button
   display: flex
   align-items: center
   justify-content: center
   width: 50%
   height: 50px
   color: #fff
   font-weight: 500
   text-align: center
   border-radius: 50px
   padding: 12px 30px
   background: #C62020
   margin: 10px auto
   @media screen and ( max-width: 767px )
   font-size: 16px
   padding: 8px 16px

.course
   display: flex
   justify-content: space-around
   align-items: center
   top: 69px
   margin-bottom: 40px
   position: relative
   @media screen and ( max-width: 991px )
     display: block
   @media screen and ( max-width: 767px )
     display: block

.content
   width: 20%
   @media screen and ( max-width: 991px )
     width: 60%
     text-align: center
     margin: 0 auto
   @media screen and ( max-width: 767px )
     width: 60%
     text-align: center
     margin: 0 auto

.images
   display: flex
   bottom: 55px
   position: relative
   right: 12%
   @media screen and ( max-width: 991px )
     bottom: 0
     right: 0
   @media screen and ( max-width: 767px )
     bottom: 0
     right: 0

.image
   width: 313px
   height: 399px
   margin: 10px
   @media screen and ( max-width: 991px )
      width: 200px
      height: 230px
      margin: 20px
   @media screen and ( max-width: 767px )
      width: 200px
      height: 230px
      margin: 20px