.footer
  background-color: black 

.title
  color: white
  text-align: center
  
.copyright
  color: white
  text-align: center

.info_web
  text-align: right
  color: white
  padding-left: 10px

.contact
    width: 50%
    margin: 0 auto
    @media screen and ( max-width: 991px )
      width: 100%
    @media screen and ( max-width: 767px )
      width: 90%

.box
    background-image: url('../../../../public/images/BlueBackground.png') 
    background-repeat: no-repeat
    background-size: 70%
    background-position: center  
    margin: 0 auto
    margin-bottom: 72px
    height: 619px
    padding: 100px
    @media screen and ( max-width: 991px )
      width: 100%
      padding: 0
      margin-bottom: 0
      height: 570px
      background-size: 100%
    @media screen and ( max-width: 767px )
      width: 100%
      padding: 0
      height: 564px
      background-size: 94%
      background-position: bottom  
  
.title
    color: white

.formTitle
   font-size: 24px
   color: red
   @media screen and ( max-width: 991px )
      text-align: center
      padding: 35px 0 35px 0
   @media screen and ( max-width: 767px )
      text-align: center
      padding: 35px 0 35px 0

.links
   display: flex
   justify-content: space-evenly
   margin-bottom: 88px
   align-items: flex-start
   @media screen and ( max-width: 991px )
      display: flex
      flex-wrap: wrap
   @media screen and ( max-width: 767px )
      display: grid

.contain
   @media screen and ( max-width: 991px )
      margin: 5px
   @media screen and ( max-width: 600px )
      p
         text-align: center
         @media screen and ( max-width: 767px )
            font-size: 16px
      img
         margin: 16px auto !important
.logo
    width: 100px
    margin: 30px auto

.google_map
    height: 600px
    width: 80%
    margin: 0 auto
    margin-bottom: 190px
    @media screen and ( max-width: 991px )
       height: 300px
       width: 80%
    @media screen and ( max-width: 767px )
       width: 100%

.address
    text-align: right
    color: white
    font-size: 25px
    padding-top: 15px
    @media screen and ( max-width: 767px )
       text-align: right
       width: 98%
       font-size: 16px

.icon
   display: flex
   justify-content: right
   align-items: center
   @media screen and ( max-width: 767px )
      justify-content: center

.link
   display: flex
   justify-content: flex-start
   align-items: center
   @media screen and ( max-width: 767px )
      justify-content: center