.footer
  background-color: black
  background-image: url('../../../../public/images/BlueBackground.png') 
  background-repeat: no-repeat
  background-size: 100%
  background-position: center    


.title
  color: white
  text-align: center
  
.copyright
  color: white
  text-align: center

.box
    width: 70%
    margin: 150px auto
    margin-bottom: 150px
    @media screen and ( max-width: 991px )
      width: 100%
    @media screen and ( max-width: 767px )
      width: 100%

.title
    color: white

.formTitle
   font-size: 24px
   color: red
   @media screen and ( max-width: 991px )
      text-align: center
      padding: 35px 0 35px 0
   @media screen and ( max-width: 767px )
      text-align: center
      padding: 35px 0 35px 0

.links
   display: flex
   justify-content: space-evenly
   margin-bottom: 88px
   align-items: flex-end
   @media screen and ( max-width: 991px )
      display: flex
      flex-wrap: wrap

.contain
   @media screen and ( max-width: 991px )
      margin: 20px

.logo
    width: 100px
    margin: 30px auto

.google_map
    height: 600px
    width: 80%
    margin: 0 auto
    @media screen and ( max-width: 991px )
       height: 300px
       width: 80%

.address
    text-align: right
    color: white
    font-size: 25px
    padding-top: 15px