.submit
   display: flex
   align-items: center
   justify-content: center
   height: 50px
   color: #fff
   font-weight: 500
   text-align: center
   border-radius: 50px
   padding: 12px 30px
   background: #C62020
   margin: 10px auto
   box-shadow: 1px 13px 11px -4px #0000003d
   span 
         cursor: pointer 
         display: inline-block 
         position: relative 
         transition: 0.5s 
         &:after 
            content: '\00bb' 
            position: absolute 
            opacity: 0 
            top: 0 
            right: -20px 
            transition: 0.5s 
   @media screen and ( max-width: 991px )
      font-size: 16px
      padding: 8px 108px
      position: relative
      z-index: 0
      transition: all 0.5s
      span 
         cursor: pointer 
         display: inline-block 
         position: relative 
         transition: 0.5s 
         &:after 
            content: '\00bb' 
            position: absolute 
            opacity: 0 
            top: 0 
            right: -20px 
            transition: 0.5s 
   &:hover 
      span 
         padding-right: 25px 
         &:after 
            opacity: 1 
            right: 0 

.input
   width: 100%
   max-width: 100%
   height: 40px
   font-weight: 300
   font-size: 22px
   box-shadow: 1px 13px 11px -4px #0000003d
   border-radius: 4px
   padding: 6px
   transition: .3s
   margin: 10px
   background: #fff
   @media screen and ( max-width: 991px )
   font-size: 18px
   @media screen and ( max-width: 767px )
   font-size: 16px
   &::placeholder
   color: var(--color-black)
   &:focus
   border-color: var(--color-primary)

.textarea
   width: 100%
   max-width: 100%
   height: 120px
   font-weight: 300
   font-size: 22px
   box-shadow: 1px 13px 11px -4px #0000003d
   border-radius: 4px
   padding: 6px
   transition: .3s
   z-index: 0
   margin: 10px
   background: #fff
   @media screen and ( max-width: 991px )
   font-size: 18px
   @media screen and ( max-width: 767px )
   font-size: 16px
   &::placeholder
   color: var(--color-black)
   &:focus
   border-color: var(--color-primary)

.fields
   display: flex
   flex-direction: column
   align-items: flex-start
   justify-content: flex-start
   width: 90%
   margin-bottom: 60px
   @media screen and ( max-width: 767px )
   display: flex
   flex-direction: column
   align-items: center
   margin: 0 auto
   margin-bottom: 40px
   &:last-child
   margin-bottom: 0  
   & > *
   margin-bottom: 40px
   @media screen and ( max-width: 991px )
   margin-bottom: 25px
   &:last-child
   margin-bottom: 0

.contact_us_header
   margin-top: 20px
   @media screen and ( max-width: 991px )
      margin-top: 0


